body {
  background-color: #1597bb;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 10px;
  border-color: #8fd6e1;
}

img {
  height: 200px;
}

h1 {
  color: #7b113a;
}

h3 {
  color: #66bfbf;
}

p {
  color: #150e56;
}

.top-line {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 10px;
  border-color: #7b113a;
}

.Bio {
  color: #9ddfd3;
}
