body {
  background-color: #1597bb;
  margin: 0px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 10px;
  border-color: #8fd6e1;
}

img {
  height: 200px;
}

h1 {
  color: #7b113a;
}

h3 {
  color: #66bfbf;
}

p {
  color: #150e56;
}

.top-line {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 10px;
  border-color: #7b113a;
}

.bio{
  background-color: #150e56;
  width: auto;
  height: 100px;

  display: block;
}


.Profile {
  border-radius: 100%;
}

.header {
  background-color: #8fd6e1;
}

.middle {
  margin: 0px;

}

.footer {
background-color: #8fd6e1;
width: auto;
height: 70px;


}
.bio-text{
  margin-top: 0px;
  margin-right: 8px;
  position: absolute;
  left: 30px;
}
